<table class="table table-striped my-2 text-center">
  <thead>
    <tr>
      <th>Professor ID</th>
      <th>Professor Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody >
    <tr  *ngFor='let prof of model'>
      <td>{{prof.professorId}}</td>
      <td>{{prof.professorName}}</td>
      <td><button type="button" class="btn btn-success mx-2" (click)="addProfessor()">Add Professor</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf= message>
  <span class ='text d-flex  justify-content-center align-items-center mt-50'>Professor Added</span>
</div>

