<div class="card">
    <div class="card-body">
      <h4 class="card-title">Approved Student</h4>
      <span class="card-text">Student ID: </span>
      <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
        </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item-text" href="#">Text Link</a>
            <span class="dropdown-item-text">Just Text</span>
            </div>
        </div>
    </div>
  </div>
