<table class="table table-striped my-2 text-center">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor='let stud of studentData'>
        <td>{{stud.studentId}}</td>
        <td>{{stud.studentName}}</td>
        <td><button type="button" class="btn btn-primary mx-2" (click)="approveStudent(stud.studentId)">Approve</button></td>
      </tr>
    </tbody>
  </table>

<div *ngIf= display>
    <span class ='text-muted d-flex  justify-content-center align-items-center mt-50'>No more approval pending!!</span>
</div>
