 <section class="vh-200" style='background-color: #024042'>
    <div class="container py-5  ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img
                  src="/assets/images/CrsLogo.png"
                  alt="login form"
                  class="img-fluid  h-100" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black" >
  
                  <form  >
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">CRS Login</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login into your account</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Username</label>
                        <input type="username" id="form2Example17" class="form-control form-control-lg" [(ngModel)]="userName" name="userName"  />        
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Password</label>
                        <input type="password" id="form2Example27" class="form-control form-control-lg" [(ngModel)]="password" name="password" />                 
                    </div>
  
                    <div class="p1-1 d-grid">
                      <button class="btn btn-dark btn-lg btn-block" type="submit" (click)='submit()' >Login</button>
                    </div>
  
                    <br>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;">New Student Register here</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>