<table class="table table-striped my-2 text-center">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Student Grade</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor='let stud of studentGrade'>
        <td>{{stud.studentId}}</td>
        <td>{{stud.grade}}</td>
        <td><button type="button" class="btn btn-success mx-2" (click)="generateReportCard(stud.studentId)">Generate</button></td>
      </tr>
    </tbody>
  </table>

<div *ngIf= display>
    <span class ='text-muted d-flex  justify-content-center align-items-center mt-50'>No more report card generation pending!!</span>
</div>
