<section style='background-image: url("/assets/images/homebkgimg.jpg"); background-repeat: no-repeat; background-size: 100% 100%;'>
  <div class="row">
      <div class="col-lg-2" >
        <img src="/assets/images/innerlogo.png" alt="logo" class="float-start ml-5" style="height: 125px;"/>
      </div>
      <div class="col-lg-8 container-fluid d-flex  justify-content-center align-items-center " style="height: 125px;" >
        <span class= 'font-weight-bold align-middle  text-dark' style='font-size: 60px; font-family: Georgia, serif;'><i>Course Registration System</i></span>
      </div>
      <div class="col-lg-2 container-fluid d-flex font-weight-bold text-dark align-items-center justify-content-end" style="height: 125px;font-size: 15px; font-family: Georgia, serif; float:right" >
          <i>Welcome {{username}},<br/> {{todayDate | date: 'medium'}}</i>
      </div>
    </div>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end" id="sidebar-wrapper" >
          <div class="list-group list-group-flush" style='font-size: 1.5em;' >
            <a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3 font-weight-bold" >Admin Menu</a>
              <a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" on-click="validate()">
                Approve Student
                </a>
				<a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" href="#!">Add Course</a>
				<a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" href="#!">Delete Course</a>
				<a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" on-click="addProfessor()">Add Professor</a>
				<a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" href="#!">Delete Professor</a>
              <a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" on-click="generateReportCard()">Generate ReportCard</a>
              <a class="list-group-item list-group-item-action list-group-item-success anchor-border p-3" on-click="logout()">Logout</a>
          </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper" >    
          <!-- Page content-->
          <div class="w-100" *ngIf='comp'>
            <app-approve-student></app-approve-student> 
          </div>
          <div class="w-100" *ngIf='generate' >
            <app-generate-report-card></app-generate-report-card>
          </div>
		  <div class="w-100" *ngIf='x'>
			<app-add-professor></app-add-professor>
		  </div>
      </div>
    </div>
  </section>